@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">

            <img src="~/images/deadpool-wallpaper-10302329.jpg" />
            <div class="caption">
                <h3>Nigel Holder</h3>
                <p>I'm not going to leave you high and dry out there, if you have any more questions you can use the information below to get in touch.</p>
                <address>
                    <a href="mailto:nholder88@gmail.com" class="btn btn-primary btn-lg" role="button">Email me</a>
                    <button class="btn btn-default btn-sm">
                        <script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
                        <div id="SkypeButton_Call_nigel.holder5_1">
                            <script type="text/javascript">
                                Skype.ui({
                                    "name": "chat",
                                    "element": "SkypeButton_Call_nigel.holder5_1",
                                    "participants": ["nigel.holder5"],
                                    "imageSize": 24
                                });
                            </script>
                        </div>
                    </button>
                </address>
            </div>
        </div>
    </div>
</div>