@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="jumbotron">
        <h1>Welcome </h1>
        <p>This is a simple Landing page for the Links of the Presentation. </p>
    </div>

    <a href="https://drive.google.com/open?id=0BzBNdW0YT8HwNzg3eEdZX1pXUmM" class="btn btn-primary ">Take me to the Content!   </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Content Links</h2>
        <ul>
            <li><a href="https://www.mbtionline.com/TaketheMBTI" target="_blank">Offical Assessment</a></li>
            <li><a href="http://www.humanmetrics.com/cgi-win/jtypes2.asp" target="_blank">Unoffical, but good for a general Idea</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Job Sites</h2>
        <ul>
            <li><a href="https://www.monster.com/" target="_blank">Monster</a></li>
            <li><a href="http://www.indeed.com/l-Tampa,-FL-jobs.html" target="_blank">Indeed</a></li>
            <li><a href="Http://www.careerbuilder.com/" target="_blank">CareerBuilder</a></li>
            <li><a href="http://stackoverflow.com/jobs" target="_blank">StackOverflow Careers</a></li>
            <li><a href="http://tampabay.jobing.com/" target="_blank">Jobing</a></li>
            <li><a href="https://www.careersourcetampabay.com/" target="_blank">Career Source Tampa Bay</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Skill Building</h2>
        <ul>
            <li><a href="https://www.khanacademy.org/" target="_blank">Khan Academy</a></li>
            <li><a href="https://www.edx.org" target="_blank">EdX</a></li>
            <li><a href="https://www.udemy.com/" target="_blank">Udemy</a></li>
            <li><a href="https://www.codecademy.com/" target="_blank">Codecademy</a></li>
            <li><a href="http://it-ebooks.info/" target="_blank">Free IT Books</a></li>
            <li><a href="https://mva.microsoft.com/" target="_blank">Microsoft Training</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Phone Apps</h2>
        <ul>
            <li><a href="https://en.todoist.com/" target="_blank">Todoist</a></li>
            <li><a href="https://evernote.com/" target="_blank">EverNote</a></li>
            <li><a href="https://www.google.com/drive/" target="_blank">Google Drive</a></li>
            <li><a href="https://www.duolingo.com/" target="_blank">Duolingo</a></li>
            <li><a href="https://www.onenote.com/" target="_blank">One Note</a>
        </ul>
    </div>
</div>